Repository prometheus/client_golang, pull requests merged in 2024-06, with the labels that each got.

#1526 ci: Group all changelog-related CI jobs into single one
  .github/workflows/pr-auto-label.yml
Labels: release-note-none

#1532 Remove synchronize trigger from changelog workflow
  .github/workflows/pr-auto-label.yml
Labels: release-note-none

#1496 feat: Support zstd compression
  go.mod
  go.sum
  internal/github.com/golang/gddo/LICENSE
  internal/github.com/golang/gddo/README.md
  internal/github.com/golang/gddo/httputil/header/header.go
  internal/github.com/golang/gddo/httputil/header/header_test.go
  internal/github.com/golang/gddo/httputil/negotiate.go
  internal/github.com/golang/gddo/httputil/negotiate_test.go
  prometheus/promhttp/http.go
  prometheus/promhttp/http_test.go
Labels: kind/FEATURE

#1536 Fix golangci-lint config
  .golangci.yml
Labels: release-note-none

#1541 Cleanup NOTICE file
  NOTICE
Labels: release-note-none

#1539 Remove inlined upstream code
  NOTICE
  go.mod
  go.sum
  prometheus/testutil/diff/diff.go
  prometheus/testutil/diff/diff_test.go
  prometheus/testutil/testutil.go
Labels: release-note-none

#1544 client: Add Option to provide limit query param for APIs that support it
  api/prometheus/v1/api.go
  api/prometheus/v1/api_test.go
Labels: kind/ENHANCEMENT
