Repository prometheus/client_golang, pull requests merged in 2024-07, with the labels that each got.

#1537 Allow creating constant histogram and summary metrics with a created timestamp
  prometheus/examples_test.go
  prometheus/histogram.go
  prometheus/histogram_test.go
  prometheus/summary.go
  prometheus/summary_test.go
Labels: kind/ENHANCEMENT

#1556 Update README.md
  README.md
Labels: release-note-none

#1562 fix: Update Go tests
  prometheus/collectors/go_collector_go121_test.go
  prometheus/collectors/go_collector_go122_test.go
  prometheus/collectors/go_collector_latest_test.go
  prometheus/go_collector_metrics_go121_test.go
  prometheus/go_collector_metrics_go122_test.go
Labels: kind/BUGFIX

#1555 process_collector: collect received/transmitted bytes
  prometheus/process_collector.go
  prometheus/process_collector_other.go
  prometheus/process_collector_test.go
Labels: kind/ENHANCEMENT

#1564 chore: Remove half-implemented changelog automation
  .github/labeler.yml
  .github/pull-request-template.md
  .github/workflows/pr-auto-label.yml
  CONTRIBUTING.md
Labels: release-note-none
